{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h1>{{ form.instance.title }}</h1>
    <form method="POST" class="post-form" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="post">
            {% if error_title %} <p>{{ error_title }}</p> {% endif %}
            {{ form.as_p }}
            <div class="absoulte-image">
                <img 
                    src="{% if form.instance.pic %}{{ form.instance.pic.url }}{% else %}{% static 'media/blogpic.jpeg' %}{% endif %}" 
                    alt="NO IMAGE" 
                    class="round-image"
                    id="preview">
            </div>
            <button type="submit" class="save btn btn-default"><i class="far fa-save"></i></button>
        </div>
        <div class="grid-category-container">
            {% for cat in categories %}
                <div class="grid-item center-flex-container">
                    <button type="button" class="category-check-item {% if cat in form.instance.categories.all %}checked{% endif %}">
                        <input type="hidden"
                            name="{{ cat.name }}"
                            value="{{ cat.name }}">
                        </input>
                        {{ cat.name }}
                    </button>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}
{% block custom_scripts %}
<script src="{% static 'js/check-cat.js' %}"></script>
<script src="{% static 'js/throw-cats.js' %}"></script>

<script src="{% static 'js/readURL.js' %}"></script>
{% endblock %}