{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <title>My site/blog on Django</title>
    </head>
    <body>
        
        <div class="page-header">
            {% if user.is_authenticated %} 
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-rotate-180"></i></a>
            <a href="{% if request.user.features.favourite_post %}{% url 'post_detail' pk=request.user.features.favourite_post.pk %}{% else %}{% url 'empty_page' %}{% endif %}"><i class="fas fa-heart navbar-heart"></i></a>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% else %}
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
            <h1><a href="/">Блог</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-15">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    {% block custom_scripts %}
    {% endblock %}
    <script src="{% static 'js/blog.js' %}"></script>
    </body>
</html>