body {
  position: relative;
}

.page-header {
  background-color: #af7178;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: "Besley", cursive;
  color: black;
}

.date {
  color: #092437;
  font-family: "Besley", cursive;
  position: absolute;
  right: 160px;
  top: 10px;
  display: inline;
}

.save {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
  background-color: #71afa8;
  margin-top: 0;
  padding: 40px 40px 40px 40px;
  border: 3px solid black;
  border-radius: 30px 0px;
  position: relative;
}

.post p {
  font-family: "Besley", cursive;
  margin-top: 20px;
  color: #000;
}

.post h1 a,
.post h1 a:visited {
  color: #000;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

.edit-btn {
  position: absolute;
  right: 50px;
  top: 5px;
}

.title {
  position: absolute;
  left: 20px;
  top: 10px;
  margin: 0;
}

.preview {
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  right: -60px;
  top: 50px;
}

#id_text {
  background-color: inherit;
  border: 2px solid black;
  /* resize: none; */
  border-radius: 7px;
}

#id_title {
  background-color: inherit;
  border: 2px solid black;
  border-radius: 7px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-grow: 4;
}

.login-form {
  display: flex;
  flex-basis: 800px;
  height: 86vh;
  justify-content: center;
  background-color: #71afa8;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

.login-form a,
.login-form h1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.logbtn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5vh;
}

.regbtn {
  position: relative;
  left: 43%;
  transform: translate(-50%, 0);
  top: 5vh;
}

.login-form a {
  top: 10vh;
  left: 27vh;
  color: #000;
}

.login-form h1 {
  left: 30vh;
  top: -10vh;
  font-size: 10rem;
}

h1.big-h1 {
  font-size: 8rem !important;
  left: 25vh;
  top: -70px;
}

.helptext {
  display: none;
}

/* .regbtn {
  font-size: 4rem !important;
  left: vh;
  top: -70px;
} */

form input {
  display: block;
}

.fa-sign-out-alt,
.fa-sign-in-alt {
  position: absolute;
  font-size: 8rem;
  color: white;
  right: 17%;
  top: 20px;
}

.navbar-heart {
  position: absolute;
  font-size: 8rem;
  color: white;
  right: 9%;
  top: 20px;
}

.glyphicon-plus {
  font-size: 7rem;
}

.absolute-image {
  position: absolute;
  top: 15vh;
  right: 7vh;
}

.round-image {
  border: 2px solid black;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.like-btn{
  position: absolute;
  right: 95px;
  top: 5px;
}

.errorlist {
  display: none;
}

#pic-clear_id {
  display: none;
}

.grid-category-container{
  display: grid;
  grid-template-rows: repeat(100px);
  grid-template-columns: repeat(100px);
  max-height: auto;
  position: absolute;
  right: 100px;
  top: 210px;
  width:400px;
  height: auto;
}
.center-flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  margin-bottom: 10px;
}
.category-check-item{
  /* border: 2px solid black; */
  border-radius: 10px;
  color: white;
  background-color: #af7178;
  font-size: 3rem;

}
.checked{
  border: 2px solid black;
  background-color: hsl(353, 36%, 35%);
}





/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #968d8d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b4f54;
}
